<html>
    New Item:
    <form action="/create" method="post">
        <label id="title">Title</label><input type="text" id="title" name="title"><br>
        <label id="priority">Priority</label><input type="text" id="priority" name="priority"><br>
        <input type="submit" value="Add New Item">
    </form>
    Existing Items:
    {{ range $id, $item := . }}
        <form action="/delete" method="post">
            <input type="hidden" id="id" name="id" value="{{ $id }}">
            <label id="title">Title</label><input type="text" id="title" name="title" value="{{ $item.Title }}"><input type="submit" value="Edit Title" formaction="/update/title"><br>
            <label id="priority">Priority</label><input type="text" id="priority" name="priority" value="{{ $item.Priority }}"><input type="submit" value="Edit Priority" formaction="/update/priority"><br>
            <label id="complete">Complete</label><input type="checkbox" id="complete" name="complete" {{ if $item.Complete }} checked {{ end }} onclick="return false;"><input type="submit" value="Toggle Complete" formaction="/update/complete"><br>
            <input type="submit" value="Delete Item">
        </form>
    {{ end }}
</html>